<strong>
  Ol'a, {{provider}}
</strong>
<p>Houve um cancelamento de hor'ario, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong> Data/Hora: </strong> {{ date }} <br />
  <br />
  <small>
    O hor'ario est'a novamente disponivel para novos agendamentos.
  </small>

</p>
